* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: rgb(167, 38, 167);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

body {
    background-image: linear-gradient(45deg, rgb(39, 88, 196), rgb(167, 38, 167), rgb(233, 26, 26));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}

header {
    color: rgb(255, 255, 255);
    padding: 2em 0;
    font-size: 1.5rem;
}

.box {
    position: relative;
    width: 477px;
    margin: 0 auto;
}

#add-input  {
    padding: .8em 1.25em;    
    border: none;
    border-radius: 2em;
    width: 400px;
}

#add-input:focus {
    outline: none;
}

#add-btn {
    padding: .8em 1.25em;
    border-radius: 2em;
    border: none;
    position: absolute;
    right: 76px;
    top: 0;
    bottom: 0;
    background-color: hsl(221, 67%, 46%);
    color: #fff;
} 

#add-btn:hover {
    background-color: hsl(221, 70%, 55%);
    cursor: pointer;
    transition: 250ms;
}

#add-btn:active {
    background-color: rgb(30, 68, 150);
}

#filter-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: .8em 1.25em;
    border-radius: 2em;
    width: 72px;
}

#items {
    padding: 3rem 0;
    list-style-type: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 1em auto;
    padding: .8em 2em;
    background-color: #fff;
    border-radius: 100px;
    position: relative;
    transition: 1s;
}

.item h2 {
    font-weight: normal;
    margin-right: 25rem;
}

#del-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0 100px 100px 0 ;
    padding: 1em 2em;
    border: none;
    background-color: hsl(7, 67%, 46%);
    cursor: pointer;
    color: #fff;
    transition: 250ms;
}

#del-btn:hover {
    background-color:  hsl(7, 81%, 55%);
    box-shadow: 0 0 15px 0 #00000040;
}

#completed-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 90px;
    border-radius: 100px 0 0 100px;
    padding: 1em 2em;
    border: none;
    background-color: hsl(91, 68%, 43%);
    cursor: pointer;
    color: #fff;
    transition: 250ms;
}

#completed-btn:hover {
    background-color:  hsl(91, 68%, 50%);;
    box-shadow: 0 0 15px 0 #00000040;
}

.deleted {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    background-color: #ffffff75;
}

.completed h2 {
    text-decoration: line-through;
}